body {
  background-color: rgb(26, 26, 26);
  color: white;
  margin: 0;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 14px;
  font-weight: normal;
  color: rgb(223, 223, 223);

}

p {
  font-size: 14px;
  color: grey;
}

li {
  font-size: 14px;
  color: grey;
}

.hoverable {
  transition: transform 0.3s ease-in-out;
}

.hoverable:hover {
  transform: scale(1.1);
}